.home-container {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
}

.header-title {
    font-family: "Raleway", sans-serif;
    padding: 50px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
}

.header-title button {
    background-color: #88bbe5;
    font-size: 15px;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
    margin: 40px 0 0;
    transition: 0.3s all;
}

.header-title button:hover {
    background-color: #fff;
    color: #104294;
}
